@mainColor: blue;

@import "pizza/pizza-card";

html, body {
  height: 100%;
}

#cart {
  height: 100%;
  background-color: orange;
}

.menu-row {
  color: darkgray;
  border-bottom: darkgray solid 1px;
}