.pizza-card {
  img {
    max-width: 100%;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
  padding: 5px;
  margin-bottom: 50px;

}

.pizza-icon {
  max-width: 100%;
}